@using Microsoft.AspNetCore.Identity;
@using WrldcHrIs.Core.Entities;
@using WrldcHrIs.Application.Users;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-page="/Users/Index">Users</a>
                <a class="dropdown-item" asp-page="/Departments/Index">Departments</a>
            </div>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Users/MyDetails">My Details</a>
    </li>

}
